.gameboy-screen {
  background-color: #dde5b6;
  border: 8px solid #a68a64;
  border-radius: 15px;
  padding: 20px;
  width: 340px;
  box-shadow: inset 0 0 30px rgba(255, 255, 255, 0.4);
}

.sprite-container {
  background-color: #f1f3e9;
  border: 4px solid #735d4d;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.pixel-sprite {
  width: 170px;
  height: 170px;
  image-rendering: pixelated;
  object-fit: contain;
}

.pixel-text {
  font-family: "Press Start 2P", cursive;
  font-size: 8px;
  color: #735d4d;
  display: block;
  margin-bottom: 4px;
}

.progress {
  background-color: #fefae0;
  border: 2px solid #735d4d;
  border-radius: 0;
  height: 18px;
  margin-bottom: 10px;
}

.bg-witch-green {
  background-color: #a3b18a !important;
}
.bg-witch-yellow {
  background-color: #e9d8a6 !important;
}
.bg-witch-red {
  background-color: #9b2226 !important;
}
