/* src/App.css */
.main-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #ffc2d1; /* Fondo rosa suave */
}

.app-container {
  background-color: #fffcf0;
  padding: 30px;
  border-radius: 50px;
  border: 6px solid #9c8475;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 10px 0 #9c8475; /* Efecto 3D de panel */
}

h1 {
  font-family: "Press Start 2P", cursive;
  font-size: 16px;
  color: #9c8475;
  margin-bottom: 20px;
}
